<div ng-controller="userController">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="!item.id">Добавление пользователя</h3>
        <h3 class="modal-title" ng-if="item.id">Изменение пользователя</h3>
    </div>
    <form name="editUser">
        <div class="modal-body">
            <div class="has-error" ng-show="error">
                <p class="help-block">{{error}}</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : editUser.login.$error.required}">
                <label>Идентификатор учетной записи (Login)</label>
                <input class="form-control" name="login" placeholder="Логин" ng-model="item.login" required ng-readonly="item.id">
                <p class="help-block" ng-show="editUser.login.$error.required">Поле должно быть заполнено</p>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input class="form-control" placeholder="Пароль" ng-model="item.password">
            </div>
            <div class="form-group">
                <label>Отображаемое имя</label>
                <input class="form-control" placeholder="Отображаемое имя" ng-model="item.displayName">
            </div>
            <div class="form-group">
                <label>Дата рождения</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                           ng-model="item.birthday"
                           is-open="picker.opened" datepicker-options="dateOptions" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="picker.opened = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label>Пол</label>
                <select class="form-control" ng-model="item.gender">
                    <option ng-repeat="g in genders" value="{{g.key}}">{{g.value}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(!item.id)"
                ng-disabled="editUser.login.$error.required">Сохранить
        </button>
        <button class="btn btn-link" type="button" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</div>